In [1]:
import pandas as pd #the csv reading library
import matplotlib.pyplot as plt #the ploting library
import glob #to get file names
import numpy as np
from pandas import Series
import seaborn as sns

In [2]:
#PULL UP ALL THE EXCELL FILES 
files = glob.glob('../../../Data_Thesis/TOC/*/*.xlsx')
files

#make the path where you want to save eveything 
path_save = '../../../Data_Thesis/TOC/TOC_GOM.csv'

In [3]:
#make the last 
for f in files: 
    read_file = pd.read_excel (f, sheet_name='Final Results')
    name = f[:-5]
    read_file.to_csv (name + ".csv", index = None, header=True)
    
#make the new files list the csv files much safer
files = glob.glob('../../../Data_Thesis/TOC/*/*.csv')
files

['../../../Data_Thesis/TOC\\BC\\BC_TOC_GOM21FA_2155_2157.csv',
 '../../../Data_Thesis/TOC\\BC\\BC_TOC_GOM21FA_ID2143_ID2152.csv',
 '../../../Data_Thesis/TOC\\BC\\BC_TOC_GOM21FA_ID2146_ID2149_ID2150.csv',
 '../../../Data_Thesis/TOC\\BC\\BC_TOC_GOM21FA_ID2148_ID2154_ID2156.csv',
 '../../../Data_Thesis/TOC\\BC\\BC_TOC_GOM22SP_2216_2215_2222.csv',
 '../../../Data_Thesis/TOC\\BC\\BC_TOC_GOM22SP_2218_2220_2223.csv',
 '../../../Data_Thesis/TOC\\PW\\PW_TOC_GOM21FA_ID2145_ID2146_ID2148_ID2154.csv',
 '../../../Data_Thesis/TOC\\PW\\PW_TOC_GOM21FA_ID2150_ID2149.csv',
 '../../../Data_Thesis/TOC\\PW\\PW_TOC_GOM21FA_ID2152_ID2155_ID2157.csv',
 '../../../Data_Thesis/TOC\\PW\\PW_TOC_GOM21FA_ID2153.csv',
 '../../../Data_Thesis/TOC\\PW\\PW_TOC_GOM21FA_ID2156.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM2021_ID2119_ID2123.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM2021_ID2124_ID2127.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM2021_ID2128_ID2130.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM21FA_ID2143_2144_2145_2146.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM21FA_ID2143_ID2146_2145.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM21FA_ID2147_2148_2149_2150_2151.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM21FA_ID2151_2152_2153_2155_2157_2156.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM21FA_ID2154_ID2158.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM22SP_2214_2218_2217_2216.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM22SP_2215_2220_2221.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM22SP_2222.csv',
 '../../../Data_Thesis/TOC\\WC\\WC_TOC_GOM22SU_2242_2243_2248_2249.csv']

In [4]:
#make function 
def GET_DATA(name):
    df = pd.read_csv(name, sep=',', index_col=0)
    df = pd.DataFrame(df)
    return df

In [5]:
#add it all up 
frames = []
for f in files:
    df = GET_DATA(f) # runs the processing function  
    frames.append(df) # adds the new col from each scan to a part of frames 
df = pd.concat(frames, axis=0, ignore_index=False)

In [6]:
#clean up messy collumns drop the extra 
df["Notes"] = df["Notes"].fillna(df["Unnamed: 10"])
df = df.drop(['Unnamed: 10'], axis=1)

#add the 2 depth cols together drop the extra 
df["Depth"] = df["Depth"].fillna(df["Depth (m)"])
df = df.drop(["Depth (m)"], axis=1)

#put it in a nicer order 
df = df[['Treatment','Campaign','Date','Location','Depth','Time','NPOC Conc (mg/L)','TN Conc (mg/L)','NPOC Conc (uM)','TN Conc (uM)','Notes']]
df

,Treatment,Campaign,Date,Location,Depth,Time,NPOC Conc (mg/L),TN Conc (mg/L),NPOC Conc (uM),TN Conc (uM),Notes
Sample ID,,,,,,,,,,,
215542,P2F,GOM21FA,2021-11-13,St.16,NaN,1.2,0.00000,-9.328574,0.000000,-666.326708,"Basically, All are bad Re-did the cal curve fo..."
215543,P2F,GOM21FA,2021-11-13,St.16,NaN,2.2,0.00000,-14.102341,0.000000,-1007.310043,"Basically, All are bad Re-did the cal curve fo..."
215544,P2F,GOM21FA,2021-11-13,St.16,NaN,3.2,0.00000,-16.145587,0.000000,-1153.256218,"Basically, All are bad Re-did the cal curve fo..."
215545,P2F,GOM21FA,2021-11-13,St.16,NaN,4.2,0.00000,-18.134717,0.000000,-1295.336915,"Basically, All are bad Re-did the cal curve fo..."
215546,P2F,GOM21FA,2021-11-13,St.16,NaN,5.2,0.00000,15.419475,0.000000,1101.391048,"Basically, All are bad Re-did the cal curve fo..."
...,...,...,...,...,...,...,...,...,...,...,...
224935,P2F,GOM22SU,2022-07-19,St.2,53.98,NaN,2.19123,NaN,182.602484,NaN,All NA for bad data
224936,P2F,GOM22SU,2022-07-19,St.2,24.40,NaN,NaN,NaN,NaN,NaN,All NA for bad data
224937,P2F,GOM22SU,2022-07-19,St.2,6.20,NaN,NaN,NaN,NaN,NaN,All NA for bad data
224938,P2F,GOM22SU,2022-07-19,St.2,2.80,NaN,NaN,NaN,NaN,NaN,All NA for bad data
224940,P2F,GOM22SU,2022-07-19,St.2,1.70,NaN,NaN,NaN,NaN,NaN,All NA for bad data

In [7]:
#save it for later 
df.to_csv(path_save)